<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BudJet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>751473EA186D1F1509F631DEFEFDE14EEC0C33AE</string>
				<key>dateExpires</key>
				<string>19/05/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4WE7VKWWKA.com.budjet.app.BudJet</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4WE7VKWWKA</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4WE7VKWWKA.com.budjet.app.BudJet</string>
				</array>
			</dict>
			<key>name</key>
			<string>BudJet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>aea0394b-4706-44d7-b824-db83aaaf3db7</string>
				<key>dateExpires</key>
				<string>14/07/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4WE7VKWWKA</string>
				<key>name</key>
				<string>Andrea Zampierolo</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
